.siteHeader {
    width: 110%;
    height: 50px;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    background: #8E0E00;  /* fallback for old browsers */
    background: linear-gradient(to left, #1F1C18, #8E0F00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.menu {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /*Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /*Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 70px;
    
    background-color: #000000;
    /* Black */
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.menu a:hover {
    color: #FFFFFF;
    background-color: #8E0F00;
}

.menu a:select {
    color: #FFFFFF;
    background-color: #3C51B1;
}

.gameRow {
    background-color: rgb(120,0,0, 0.85);
    padding-bottom: 10px;
}

.games {
    width: 100%;
    height: 100%;
    margin-left: 160px;
    margin-top: 70px; 
    
    
  border-spacing: 0em .5em;
    
}
.picture{
    width: 150px;
    height: 200px;
}
.GameIcon,
.gameName,
.discription,
.category,
.price,
.gameBuy {
    width: 16%;
    font-family: cursive;
    font-size: 18;
    color: rgb(200,200,200);
}

td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.buyButton {
    width: 100px;
    height: 40px;
    border-radius: 50%;
    display:inline-block;
     padding:0.3em 1.2em;
     margin:0 0.3em 0.3em 0;
     border-radius:2em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     background-color:#000000;
     text-align:center;
     transition: all 0.2s;
    }
    a.button3:hover{
     background-color:#084218;
    }
    @media all and (max-width:30em){
     a.button3{
      display:block;
      margin:0.2em auto;
     }
}

.buyButton:hover {
    background-color:#084218;
}


/*
td {
    padding-bottom: 5px; 
    padding-top: 5px;
    text-align: center;
}
*/

.menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

._form {
    margin-left: 43%;
    margin-top: 100px;
}

.lbl {
    font-size: 15pt;
    font-family: cursive;
    color: blue
}

.format {
    float: right;
}

#box {
    width: 172px;
}

#mg {
    width: 95%;
}

#logo {
    width: 230;
    margin-top: -65;
}

#search {
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    margin-left: 80%;
    float: right;
    margin-top: 20;
}

#output {
    max-height: 100;
    border: 1px solid gray;
}

#txtarea {
    width: 172px;
    height: 50px;
}

textarea {
    resize: none;
}

#submitbtn {
    width: 100%;
    height: 30;
}

.txt {
    float: right;
}

#file {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}